@import 'variables';
.finder{
    display: grid;
    grid-template-columns: repeat( auto-fill, 4rem );
    grid-gap: 1rem;

    .folder{
        width: 4rem;
        .icon{
            width: 100%;
            img{
                display: block;
                width: 100%;
                height: auto;
            }
        }
        .name{
            width: 100%;
            input{
                width: 100%;
            }
        }
    }
}